body {
    background: #000;
    color: #fff;
    padding: 25px;
    max-width: 700px;
    font-family: 'Courier Prime', monospace;
    margin: auto;
  }  
  
  a:link {
    text-decoration: none;
    color: white;
  }
  
  a:visited {
    text-decoration: none;
    color: white;
  }
  
  h1 {
    letter-spacing: 3px;
    text-align: center;
    border: 2px inset white;
    border-radius: 15px;
    padding: 2%;
  }
  
  h2 {
    text-align: center;
    padding-bottom: 30px;
  }
  
  h3, h4 {
    padding-left: 2%;
    border: 2px solid white;
    line-height: 30px;
  }
  
  h4 {
    line-height: 20px !important;
    border: 1px solid white !important;
  }
  
  p {
    padding: 1% 10%;
  }
  
  ul {
    list-style-type: none;
    margin-right: 5%;
  }
  
  .button {
    transition-duration: 0.1s;
  }
  
  .home:hover {
    background-color: blue;
    border-radius: 3px;
  }
  
  .escape:hover {
    background-color: green;
    border-radius: 3px;
  }
  
  .inlaws:hover {
    background-color: purple;
    border-radius: 3px;
  }
  
  .paradigms:hover {
    background-color: #DFA71A;
    border-radius: 3px;
  }
  
  .new42:hover {
    background-color: teal;
    border-radius: 3px;
  }
  
  .lit {
    border-radius: 5px;
  }
  
  #oga:hover {
    background-color: #070707;
    border: 2px outset white;
  }
  
  .homelit {
    background-color: blue;
  }
  
  .escapelit {
    background-color: green;
  }
  
  .inlawslit {
    background-color: purple;
  }
  
  .paradigmslit {
    background-color: #dfa71a;
  }
  
  .new42lit {
    background-color: teal;
  }
  
  .chapter {
    margin-top: 4em;
  }